<app-navbar></app-navbar>

<div class="col-sm-5 col-sm-offset-2">
  <div class="col-sm-offset-4">
      <h1>New post</h1>
  </div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <input type="text" id="content" class="form-control" formControlName="content">
    </div>
    <div class="form-group">
      <label for="createdAt">createdAt</label>
      <input type="text" id="createdAt" class="form-control" formControlName="createdAt" placeholder="MM/DD/YYYY">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Soumettre</button>
  </form>
</div>