button {
    margin-right : 5px ;
    margin-top : 10px ;
    margin-bottom : 10px ;
}

li {
    width : 50% ;
}

p {
    float : right ;
    font-style : italic ;
}

h1 {
    display : inline-block ;
}